.container {
  margin: 5px 0;
}

.title {
  margin: 5px 0;
  font-size: 24px;
  font-weight: 600;
  color: red;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  margin: 5px 0;
}

.author {
  font-size: 18px;
  font-weight: 500;
}

.span {
  font-weight: 600;
}

.description {
  font-size: 16px;
  font-weight: 500;
}
