.list {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100vh;
  height: 30px;
  margin: 5px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  color: azure;
  background-color: transparent;
  box-shadow: inset 1px 1px 1px 1px gray;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover,
.item:focus {
  color: rgb(70, 71, 75);
  background-color: azure;
}

.title {
  font-size: 18px;
  font-weight: 600;
}
